@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Dark theme*/
    --bg-primary: #242526;
    --bg-black: #1f1f1f;
    --bg-gray: #57575c;
    /* Text-icon color */
    --color-text-primary: #ffffff;
    --color-text-secondary: #b0b3b8;
    /* Border */
    --color-border: #3e4042;
    /* Hover */
    --bg-hover-primary: #777a7e;
    --bg-hover-secondary: #3a3b3c;
    /* End dark theme */

    /* Accent */
    --color-primary: #2e89ff;

    /* Font */
    --font-primary: "MuseoModerno", sans-serif; /* body */
    --font-secondary: "Segoe UI", sans-serif; /* description, content */
    --font-product: "Product Sans", sans-serif; /* Header logo text */
}

/* Reset/Normalize CSS */
html {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "MuseoModerno", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
    font: inherit;
    border: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    user-select: none !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none !important;
}
