@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  /* Font */
  --my-font: "Inter", sans-serif;

  /* Primary */
  --color-primary: #2563eb;

  /* Background */
  --color-app: #ffffff;
  --color-chat: #f1f5f9;

  /* Text-Icon color */
  --color-text-primary: #141415;
  --color-text-secondary: #767a7f;
  --color-text-disable: #b9bdc1;

  /* Focus */
  --color-primary-focus: #1d4ed8;

  /* Border */
  --color-border: #e5e7eb;
}

/* Reset/Normalize CSS */
@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--my-font);
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  input,
  textarea,
  select,
  button {
    outline: none;
    font: inherit;
    border: none;
  }

  input {
    line-height: normal;
  }

  label,
  button {
    cursor: pointer;
    user-select: none !important;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none !important;
  }

  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--color-border) transparent; /* thumb màu var(--color-border), track trong suốt */
  }
}
