@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  /* Font */
  --my-font: "Inter", sans-serif;

  /* Brand */
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-focus: #1d4ed8;
  --color-primary-active: #1e40af;

  /* Background */
  --color-app: #ffffff;
  --color-chat: #f1f5f9;
  --color-surface: #f8fafc;

  /* Behavior */
  --color-hover: #f1f5f9;
  --color-hover-elevated: #e2e8f0;
  --color-active: #cbd5e1;
  --color-disabled: #e5e7eb;
  --color-status: #9ca3af;

  /* Text */
  --color-text-primary: #141415;
  --color-text-secondary: #767a7f;
  --color-text-disable: #b9bdc1;

  /* Border */
  --color-border: #d1d5db;
  --color-message-border: rgb(0 0 0 / 0.15);
}

/* DARK THEME */
[data-theme="dark"] {
  /* Brand */
  --color-primary: #3b82f6;
  --color-primary-hover: #60a5fa;
  --color-primary-focus: #60a5fa;
  --color-primary-active: #2563eb;

  /* Background */
  --color-chat: #090909;
  --color-app: #111111;
  --color-surface: #181818;

  /* Behavior */
  --color-hover: #242424;
  --color-hover-elevated: #303030;
  --color-active: #404040;
  --color-disabled: #262626;
  --color-status: #525252;

  /* Text */
  --color-text-primary: #fafafa;
  --color-text-secondary: #a3a3a3;
  --color-text-disable: #737373;

  /* Border */
  --color-border: #262626;
  --color-message-border: rgb(255 255 255 / 0.08);
}

/* Reset/Normalize CSS */
@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--my-font);
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  input,
  textarea,
  select,
  button {
    outline: none;
    font: inherit;
    border: none;
  }

  input {
    line-height: normal;
  }

  label,
  button {
    cursor: pointer;
    user-select: none !important;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none !important;
  }

  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--color-border) transparent; /* thumb màu var(--color-border), track trong suốt */
  }
}
